<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Kaiky Santos Faustino</strong>
    <p>ADS0301M <a target="_blank" rel="noopener noreferrer"></a></p>
    <img class="foto" src="assets/foto.jpg" alt="">
  </div>
</ion-content>
